/* .card-style {
    padding: 3%;
} */

/* .img-style {
    max-width: 300px;
    max-height: 250px;
} */

.titulo {
    font-size: 25px;
    font-weight: 500;
}

.container-style {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-background-style {
    background-color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.div-all-data {
    padding: 3%;
}


.prev, .next {
    /* font-weight: 900; */
    cursor: pointer;
}

.prev {
    margin: 15px 25px 15px 0;
    /* padding: 15px 25px 15px 0; */
    border-radius: 0 3px 3px 0;
}

.next {
    margin: 15px 0 15px 25px;
    /* padding: 15px 0 15px 25px; */
    border-radius: 3px 0 0 3px;
}

.circulo-style {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #bbb;
    margin: 0 2px;
}

.exibir-circulo-style, .circulo-style:hover {
    background-color: #717171;
}